html {
    font: 16px/1.6 'Lato', sans-serif;  
    background-color: rgba(9, 113, 121, 0.5);  
}

section{
    background-color: rgba(219, 216, 189, 0.5);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
margin-left: 20px;
padding-top: 20px;
}

img {
    width: 90%;
}

.response {
    padding-top: 5px;
}
